# .npmrc
#
# Config file for npm/pnpm.

# Critical for slow/unstable connections:
# Retry fetches up to 10 times, with exponential backoff,
# i.e. 1s, 2s, 4s, 8s, 16s, 32s, 64s, 128s.
fetch-retries=10
fetch-retry-factor=1.5
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=128000
fetch-timeout=120000
